<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMap.Net.WPF" version="1.0.0.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MAVLink" version="1.0.0" targetFramework="net461" />
  <package id="NPOI" version="2.4.1" targetFramework="net461" />
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net461" />
  <package id="SharpGL.WPF" version="2.4.0.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net461" />
</packages>